<!-- FOOTER -->
<div id="footer">
  <div class="container">
    <p class= "pull-left org">Holy Trinity and The Priory Churches, Lenton, Nottingham</p>
    <p class= "socialmedia">
      <a href="https://www.facebook.com/HolyTrinityLenton"><i class="fab fa-facebook-square fa-2x"></i></a>
      <a href="https://www.flickr.com/photos/134995087@N04/"><i class="fab fa-flickr fa-2x"></i></a>
      <a href="https://www.youtube.com/channel/UChXe8gAf73BVDmMLHk-UKjA"><i class="fab fa-youtube fa-2x"></i></a>
    </p>
  </div>

  <div class="container logos">
    <div class="row">
      <div class="col-md-12 center">
          <a href='http://www.nationalchurchestrust.org/' title='National Churches Trust'><img src='/images/logo_NCT.png'/></a>
          <a href='https://www.hlf.org.uk/' title='Heritage Lottery Fund'><img src='/images/logo_HLF.png'/></a>
          <a href='http://www.garfieldweston.org/' title='Garfield Weston Foundation'><img src='/images/logo_garfieldweston.png'/></a>
          <a href='http://nottshistoricchurchtrust.org.uk/' title='Nottinghamshire Historic Churches Trust'><img src='/images/logo_NHCT.png' class='smaller'/></a>
          <a href='http://www.wren.org.uk/' title='WREN'><img src='/images/logo_wren.png'/></a>
       </div>
     </div>
  </div>

  <div class="container logos">
    <h4>Safeguarding</h4>
    <p>Ensuring that children and young people as well as adults are kept safe whilst in our care is an integral part of our church life. If you have any concerns about safeguarding please contact us:</p>
    <ul>
      <li>In the Parish: Ruth Hollingsworth, Parish Safeguarding Officer, 0115 924 4214,  <a href="mailto:safeguarding@lentonparish.org.uk">safeguarding@lentonparish.org.uk</a></li>
      <li>In the Diocese: Diocesan Safeguarding Team: 01636 817200</li>
      <li>Out of Hours for Children & Adults:	 Nottingham City Council: 0115 876 1000</li>
    </ul>
  </div>

</div>



<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ "/vendor/jquery-3.3.1.slim.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/vendor/popper.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/vendor/bootstrap-4.3.1.min.js " | prepend: site.baseurl }}"></script>

<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-59019209-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-59019209-1');
</script>
