<!-- HEADER -->
<header id="header">
    <h1>Holy Trinity and the Priory Churches</h1>
    <img id="logo" src="/images/htlpriorylogo.jpg" alt="Holy Trinity and the Priory Churches">

    <div class="alert">
      <i class="fas fa-info-circle fa-3x"></i>
      <p>We’re restarting Sunday morning services in Holy Trinity!<br/>
        We will be having a joint Sunday service at 11am in Holy Trinity plus we will still livestream for those who aren’t able to be with us in person &mdash; see <a href="/whatson.html">What's on</a>.</p>
    </div>

{% include nav.html %}

</header>
