<!-- HEADER -->
<header id="header">
    <h1>Holy Trinity and the Priory Churches</h1>
    <img id="logo" src="/images/htlpriorylogo.jpg" alt="Holy Trinity and the Priory Churches">

    <div class="alert">
      <i class="fa fa-info-circle fa-3x"></i>
      <p>Following the new measures to prevent the spread of coronavirus COVID-19, we will not be meeting together for our regular worship services until further notice. We will be live streaming at 11am each Sunday &mdash; see <a href="/whatson.html">What's on</a></p>
    </div>

{% include nav.html %}

</header>
